h1 {text-align: center;
    border-color: brown;
    border-style: dashed;
    border-width: 0px;
    background-color: deeppink;

}
h2 {text-align: center;
    border-color: blue;
    border-style: dashed;
    border-width: 0px;
    background-color: red;

}
 h3 {text-align: center;
     border-color: black;
     border-style: dashed;
     border-width: 0px;
     background-color: burlywood;
     



}
